body {
    background-color: rgb(252,166,201);
}

.bold, footer {
    font-weight: bold;
}

.white {
    color: white;
}

.coolFont, footer {
    font-family: Arial, sans-serif;
}

.smallFont {
    font-size: 90%;
}

.container {
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
}

.container ol {
    text-align: left;
    font-weight: bold;
    line-height: 200%;
    padding-inline-start: 32px;
}

.container h1:hover {
    color: black;
}

.container img {
    width: 200px;
}

.container .largeQuote {
    display: block;
    margin: 0 auto;
    font-size: 190%;
    max-width: 250px;
    color: white;
}

footer p {
    margin: 30px;
}