/* General Styings */

html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(14,14,14);
    overflow: hidden;
}

/* Hero Styling */

.container {
    width: 68.5%;
    height: 100%;
    margin: 0 auto;
    background-color: #737373;
}

.container img {
    width: 100%;
}

.circles-container {
    display: block;
    text-align: center;
    padding: 1em;
}

.circles-container img {
    margin: 1.5em 2.8em;
    width: 224px;
    border-radius: 50%;
    border: 14px solid #444444;
}